/* Set default styles for HomePage */
:root {
  --primary-green: #2e8b57;
  --light-green: #8ee4af;
  --background-color: white;
  --text-color: #333;
  --card-bg: #f9f9f9;
  --highlight-color: #2e8b57;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.content-container {
  padding-left: min(10rem, 10%);
  padding-right: min(10rem, 10%);
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 2000px;
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.waste-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.waste-app > * {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  max-width: 100%; /* Ensure children don't overflow */
}
.waste-app > *:nth-child(1) { animation-delay: 0.2s; }
.waste-app > *:nth-child(2) { animation-delay: 0.4s; }
.waste-app > *:nth-child(3) { animation-delay: 0.6s; }
.waste-app > *:nth-child(4) { animation-delay: 0.8s; }
.waste-app > *:nth-child(5) { animation-delay: 1s; }