/* Main IdentifyPage styles */
.waste-app {
  min-height: 100vh;
  background-color: white;
  padding-left: 3rem;
  padding-right: 3rem;
}

.identify-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 2000px;
  margin: 0 auto;
}

.identify-header {
  text-align: center;
  margin-bottom: 3rem;
}

.identify-header h1 {
  color: var(--highlight-color);
  margin-bottom: 0.5rem;
}

.waste-header {
  text-align: center;
  margin-bottom: 4rem; 
  width: 100%; 
  position: relative;
}

.waste-header h1 {
  color: var(--highlight-color);
  margin-bottom: 1rem; 
}

.waste-header p {
  font-size: 1.1rem;
  color: #166534;
}

.step-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}

/* Fade animations */
.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}