.comm-stats-highlight {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.comm-stats-text {
  flex: 1;
  text-align: left;
  padding: 0 2rem;
}

.comm-stats-text h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.comm-stat-number-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.comm-stat-number {
  font-size: 7rem;
  font-weight: bold;
  color: var(--primary-green);
  line-height: 1;
}

.units {
  margin-bottom: -2rem; 
  font-size: 2rem;
  font-weight: 700;
  color: seagreen;
}

/* New disclaimer styling */
.disclaimer {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 1rem;
  font-style: italic;
}

.comm-stats-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.tree-illustration {
  width: 500px;
  height: 500px;
  margin-bottom: 1.5rem;
  background-image: url('../../assets/images/HomeDashboard/main_tree.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .comm-stats-highlight {
    flex-direction: column;
  }

  .comm-stats-text {
    text-align: center;
    margin-bottom: 2rem;
  }

  .comm-stat-number-container {
    align-items: center;
  }
}