.hero {
  padding: 2rem 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.hero h1 {
  font-size: 5rem;
  color: var(--primary-green);
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.hero p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
}

.hero-highlight {
  color: var(--primary-green);
  font-weight: bold;
}

/* Malaysia stats styling */
.malaysia-stats {
  max-width: 100%;
  margin: 3rem auto 1rem;
  text-align: left;
}

.malaysia-stats h2 {
  font-size: 1.75rem;
  color: var(--primary-green);
  margin-bottom: 1.5rem;
  text-align: center;
  position: relative;
}

.malaysia-stats h2:after {
  content: '';
  display: block;
  width: 250px;
  height: 3px;
  background-color: var(--primary-green);
  margin: 0.75rem auto 0;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.hero .stat-item {
  flex: 1;
  min-width: 350px;
  display: flex;
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 2.5rem 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 220px;
}

.stat-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.stat-icon {
  margin-right: 1.5rem;
  background-color: rgba(46, 139, 87, 0.1);
  padding: 1.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-green);
  align-self: center;
}

.stat-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.malaysia-stats .stat-value {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-green);
  margin: auto;
}

.malaysia-stats .stat-description {
  margin: 0;
  line-height: 1.5;
  font-size: 1.1rem ;
  color: darkseagreen;
}

.malaysia-stats .stat-source {
  font-size: 0.8rem ;
  color: #666;
  font-style: italic;
  margin: 0.5rem 0 0 0;
}

