.save-load-buttons-container {
  display: flex;
  gap: 0.5rem;
}

.save-button,
.load-button {
  background-color: #16a34a;
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-button {
  background-color: var(--highlight-color);
}

.save-button:hover {
  background-color: #216e42; 
}

.load-button {
  background-color: var(--highlight-color);
}

.load-button:hover {
  background-color: #216e42;
}

.file-input {
  display: none;
}

.save-button svg,
.load-button svg {
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
}